nav > ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
    padding: 5px 10px;
}
nav li:hover{
    background-color: lightgray;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

/* nested css */
nav li .dropdwon{
    display: none;
    position: absolute;
    background-color: blanchedalmond;
    padding-left: 10px;
}
nav li:hover > .dropdwon{
    display: block;
}