*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1200px;
    margin: 20px auto;
    padding: 20px;
    justify-content: center;
    background-color: rgb(155, 203, 209);
}
.container .first h2{
    color: rgb(20, 107, 107);
    font-style: italic;
    font-weight:lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 30px;
}